  <!-- pages/panel/account-settings.php -->
  <h1>Account Settings</h1>
  <h2>Change username</h2>
  <form method='post' class='form'>
   <input type='hidden' name='csrf_token' value='{{ token }}'>
   <label for='username'>[[ global.username: ]]</label>
   <input type='text' name='username' id='username' autocomplete='username' maxlength='32' value='{{{ username }}}' required>
   <label for='upassword'>[[ global.password: ]]</label>
   <input type='password' name='password' id='upassword' minlength='{{{ minlength }}}' autocomplete='password' required>
   <br>
   <input type='submit' value='Change username' class='button'>
  </form>
  <h2>Change email address</h2>
  <form method='post' class='form'>
   <input type='hidden' name='csrf_token' value='{{ token }}'>
   <label for='email'>[[ global.email: ]]</label>
   <input type='email' name='email' id='email' autocomplete='email' maxlength='64' value='{{{ email }}}' required>
   <label for='epassword'>[[ global.password: ]]</label>
   <input type='password' name='password' id='epassword' minlength='{{{ minlength }}}' autocomplete='password' required>
   <br>
   <input type='submit' value='Change settings' class='button'>
  </form>
  <h2>Change password</h2>
  <form method='post' class='form'>
   <input type='hidden' name='csrf_token' value='{{ token }}'>
   <label for='ppassword'>[[ global.password: ]]</label>
   <input type='password' name='password' id='ppassword' autocomplete='password' minlength='{{{ minlength }}}' required>
   <label for='newpassword'>New Password: </label>
   <input type='password' name='newpassword' id='newpassword' autocomplete='new-password' minlength='{{{ minlength }}}' required>
   <label for='repeatpassword'>[[ global.repeatpassword: ]]</label>
   <input type='password' name='repeatpassword' id='repeatpassword' minlength='{{{ minlength }}}' required>
   <br>
   <input type='submit' value='Change password' class='button'>
  </form>
