<!-- pages/panel/configuration.php -->
  <h1>Blog Configuration</h1>
  <form method='post' class='form configForm'>
   <input type='hidden' name='csrf_token' value='{{ token }}'>
   <label for='ctitle'>Blog Title:</label>
   <input type='text' name='ctitle' id='ctitle' maxlength='32' value='{{{ title }}}'>
   <label for='cdescription'>Blog Description:</label>
   <textarea id='cdescription' name='cdescription' maxlength='128'>{{{ description }}}</textarea>
   <label for='cfooter'>Footer:</label>
   <textarea id='cfooter' name='cfooter' maxlength='4096'>{{{ footer }}}</textarea>
   <label for='timezone'>Server Timezone:</label>
   <select name='timezone' id='timezone'>
   {{ timezone }}
   </select>
   <label for='clanguage'>Language:</label>
   <select name='clanguage' id='clanguage'>
   {{ language }}
   </select>
   <label for='theme'>Theme:</label>
   <select name='theme' id='theme'>
   {{ theme }}
   </select>
   <h2>Customization</h2><div></div>
   <label for='customCSS'>Custom CSS:</label>
   <textarea id='customCSS' name='customCSS' maxlength='4096'>{{{ customcss }}}</textarea>
   <h2>User Management</h2><div></div>
   <label for='registration' title='Whether or not people can create new accounts.'>Allow Registration:</label>
   <input type='checkbox' id='registration' name='registration'{{ allowregistration }}>
   <label for='registrationMode'>Registration Mode:</label>
   <select name='registrationMode' id='registrationMode'>
   {{ registrationmode }}
   </select>
   <label for='comments' title='Whether or not people can comment.'>Enable Comments:</label>
   <input type='checkbox' id='comments' name='comments'{{ comments }}>
   <label for='captcha' title='Whether or not registration has a captcha.'>Enable Captcha:</label>
   <input type='checkbox' id='captcha' name='captcha'{{ captcha }}>
   <label for='captchaLength' title='How many characters the CAPTCHA contains.'>CAPTCHA Length:</label>
   <input type='text' id='captchaLength' name='captchaLength' value='{{{ captchalength }}}'>
   <label for='feedEnabled' title='Whether or not the Atom feed is enabled.'>Enable Feed:</label>
   <input type='checkbox' id='feedEnabled' name='feedEnabled'{{ feedEnabled }}>
   <h2>Uploads</h2><div></div>
   <label for='maxUploadSize' title='Maximum size (in bytes) of a single upload.'>Max Upload Size:</label>
   <input type='text' id='maxUploadSize' name='maxUploadSize' value='{{{ maxUploadSize }}}'>
   <label for='totalDiskQuota' title='Maximum amount of file data (in bytes) that can be uploaded to the webserver.'>Total Disk Quota:</label>
   <input type='text' id='totalDiskQuota' name='totalDiskQuota' value='{{{ totalDiskQuota }}}'>
   <label for='perUserDiskQuota' title='Maximum amount of file data (in bytes) that any single user can upload.'>Per User Disk Quota:</label>
   <input type='text' id='perUserDiskQuota' name='perUserDiskQuota' value='{{{ perUserDiskQuota }}}'>
   <h2>Rate Limits</h2><div></div>
   <label for='logins' title='Allowed logins/login attempts per hour from an IP.'>Logins Per Hour:</label>
   <input type='text' id='logins' name='logins' value='{{{ loginsperhour }}}'>
   <label for='accounts' title='Maximum number of accounts that can be created per IP.'>Accounts Per IP:</label>
   <input type='text' id='accounts' name='accounts' value='{{{ accountsperip }}}'>
   <label for='accountcooldown' title='Time (in seconds) one must wait in between creating accounts.'>Registration Cooldown:</label>
   <input type='text' id='accountcooldown' name='accountcooldown' value='{{{ accountcooldown }}}'>
   <label for='postdelay' title='Time (in seconds) one must wait in between making blog posts.'>Post Delay:</label>
   <input type='text' id='postdelay' name='postdelay' value='{{{ postdelay }}}'>
   <label for='editdelay' title='Time (in seconds) one must wait in between making edits to blog posts.'>Edit Delay:</label>
   <input type='text' id='editdelay' name='editdelay' value='{{{ editdelay }}}'>
   <label for='uploadsPerHour' title='Maximum number of images a user can upload in an hour.'>Uploads Per Hour:</label>
   <input type='text' id='uploadsPerHour' name='uploadsPerHour' value='{{{ uploadsPerHour }}}'>
   <br>
   <input type='submit' value='Save changes' class='button'>
  </form>
