  <h1>Blog Statistics</h1>
  <table class='stats'>
   <tr>
    <td>Software version:</td>
    <td>{{{ version }}}</td>
   </tr>
   <tr>
    <td>Posts:</td>
    <td>{{{ totalposts }}}</td>
   </tr>
   <tr>
    <td>Published posts:</td>
    <td>{{{ published }}}</td>
   </tr>
   <tr>
    <td>Unpublished posts:</td>
    <td>{{{ unpublished }}}</td>
   </tr>
   <tr>
    <td>Accounts:</td>
    <td>{{{ totalaccounts }}}</td>
   </tr>
   <tr>
    <td>Comments:</td>
    <td>{{{ totalcomments }}}</td>
   </tr>
   <tr>
    <td>Total views:</td>
    <td>{{{ totalviews }}}</td>
   </tr>
   <tr>
    <td>Unique viewers:</td>
    <td>{{{ uniqueviewers }}}</td>
   </tr>
   <tr>
    <td>Log entries:</td>
    <td>{{{ logentries }}}</td>
   </tr>
  </table>
