  <h1>Blog Statistics</h1>
  <table class='stats'>
   <tr>
    <td>Software Version:</td>
    <td>{{{ version }}}</td>
   </tr>
   <tr>
    <td>Posts:</td>
    <td>{{{ totalposts }}}</td>
   </tr>
   <tr>
    <td>Published Posts:</td>
    <td>{{{ published }}}</td>
   </tr>
   <tr>
    <td>Unpublished Posts:</td>
    <td>{{{ unpublished }}}</td>
   </tr>
   <tr>
    <td>Accounts:</td>
    <td>{{{ totalaccounts }}}</td>
   </tr>
   <tr>
    <td>Comments:</td>
    <td>{{{ totalcomments }}}</td>
   </tr>
   <tr>
    <td>Total Views:</td>
    <td>{{{ totalviews }}}</td>
   </tr>
   <tr>
    <td>Unique Viewers:</td>
    <td>{{{ uniqueviewers }}}</td>
   </tr>
   <tr>
    <td></td>
    <td></td>
   </tr>
  </table>
