@import url("../Light/theme.css");
html {background: #121212; color: #d0d0d0}
.content, .footer {background: #181a1b; border-color: #d0d0d0}
.header {border-color: #d0d0d0; background: #181a1b}
.navbar {border-color: #d0d0d0; background: #181a1b}
.navbar a {background: #061d38; border-color: #d0d0d0}
.posts {border-color: #d0d0d0}
.posts a {color: white}
.starred, .mostViewed, .mostRecent, .allPosts {border-color: #d0d0d0}
#button, #buttonRegister, #buttonNewPost, #buttonEditPost, .postButton {background: #061d38; border-color: #d0d0d0}
.post h1, .postContent {color: white}
a {color: lightblue}
input, textarea {color: white; background: #121212; border: 1px solid #d0d0d0}
/* Panel */
.panelcontent a {color: #cccccc}
