@import url("/themes/Light/theme.css");
html {background: #121212; color: #e0e0e0}
.content, .footer {background: #181a1b; border-color: #e0e0e0}
.header {border-color: #e0e0e0; background: #181a1b}
.navbar {border-color: #e0e0e0; background: #404040}
.navbar a {background: #121212; border-color: #e0e0e0}
.posts {border-color: #e0e0e0}
.posts a {color: #e0e0e0}
.starred, .mostViewed, .mostRecent, .allPosts {border-color: #e0e0e0}
#button, #buttonRegister, #buttonNewPost, #buttonEditPost, .postButton {background: #121212; border-color: #e0e0e0}
a {color: lightblue}
