@import url("../Light/theme.css");

/** Global **/
body {
 background: #121212;
 color: #e5e5e5;
}
a {
 color: lightblue;
}
a:hover {
 color: cornflowerblue;
}
.content, .footer {
 background: #222;
}
.header {
 background: #102a43;
 box-shadow: none;
}
.navbar {
 border-color: #d0d0d0;
 background: #555;
 box-shadow: none;
}
.content {
 box-shadow: none;
}
.footer {
 box-shadow: none;
 margin-top: 8px;
}
input, textarea {
 color: white;
 background: #121212;
 border: 1px solid #b0b0b0;
 padding: 2px 4px;
 border-radius: 2px;
}
.form input:hover, .form textarea:hover {
 border: 1px solid #d0d0d0;
}
.form input:disabled {
 border: 1px solid grey;
}
.button, .form .button {
 background: #22229d;
 border: none;
 border-radius: 0;
}
.button:hover {
 background: #12128d;
 border: none!important;
}
.success {
 color: white;
 background: darkgreen;
}
.info {
 color: white;
 background: #736d18;
}
.error {
 color: white;
 background: #9e3623;
}

/** Pages **/
/* Post tiles */
.postTile {
 box-shadow: none;
 background: #282828;
}
.postTile a {
 color: white;
}
.postTile a:hover {
 color: lightgrey;
}
/* Post page */
.post h1, .postContent {
 color: white;
}
.tag {
 background: #3b3b8f;
}
.tag:hover {
 background: #2b1b7f;
}
.comment {
 border: none;
}
.commentHeader {
 background: #111;
 border: none;
}
.commentContent {
 background: #2d2d2d;
}
.date:hover {
 color: #888;
}
