/* Global */
body {max-width: 75%; margin: auto; font-family:'Helvetica'}
.header {border-bottom: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey; padding: 20px; font-size: 160%; background: grey; color: white; text-align: center}
.navbar {border-left: 1px solid grey; border-right: 1px solid grey; border-bottom: 1px solid grey; padding: 8px; background: lightgrey; text-align: center}
.navbar a {text-decoration: none; margin-right: 5%; margin-left: 5%; font-size: 140%; border: 1px solid black; border-radius: 2px; padding: 5px; background: #666666; margin-bottom: 5px; margin-top: 5px; display: inline-block; color: white}
.content {border-left: 1px solid grey; border-right: 1px solid grey; padding: 20px; background: white}
.footer {border: 1px solid grey; padding: 20px; background: white; text-align: center}
.error {border: 1px solid red; padding: 4px; margin: 2px; background: #ff7777}
/* Install page */
.installForm {text-align: center}
.installForm label {min-width: 12%; display: inline-block; text-align: right; vertical-align: top; margin-top: 12px}
.installForm input, textarea {box-sizing: border-box; width: 200px; outline: none; margin: 10px; font-family: inherit}
.installForm textarea {resize: vertical; height: 120px}
#button {width: 70px; background: #666666; color: white; border: 1px solid black; font-size: 105%; padding: 8px}
/* Login page */
.loginForm {text-align: center}
.loginForm label {min-width: 12%; display: inline-block; text-align: right; vertical-align: top; margin-top: 12px}
.loginForm input, textarea {box-sizing: border-box; width: 200px; outline: none; margin: 10px; font-family: inherit}
.loginForm textarea {resize: vertical; height: 120px}
/* Register page */
.registerForm {text-align: center}
.registerForm label {min-width: 12%; display: inline-block; text-align: right; vertical-align: top; margin-top: 12px}
.registerForm input, textarea {box-sizing: border-box; width: 200px; outline: none; margin: 10px; font-family: inherit}
.registerForm textarea {resize: vertical; height: 120px}
#buttonRegister {width: 80px; background: #666666; color: white; border: 1px solid black; font-size: 105%; padding: 8px}
/* New post page */
.newPostForm {text-align: center}
.newPostForm label {min-width: 12%; display: inline-block; text-align: right; vertical-align: top; margin-top: 12px}
.newPostForm input, textarea {box-sizing: border-box; width: 200px; outline: none; margin: 10px; font-family: inherit}
.newPostForm textarea {resize: vertical; height: 120px}
#buttonNewPost {width: 108px; background: #666666; color: white; border: 1px solid black; font-size: 105%; padding: 8px}
/* Post tiles */
.posts {border: 1px solid grey; padding: 15px; margin: 14px; min-width: 160px; max-width: 160px; min-height: 200px; display: inline-block; text-align: center; vertical-align: top}
.posts a {text-decoration: none; color: black; font-size: 150%}
.posts img {max-width: 100%; height: auto; border: 1px solid grey;}
/* Post page */
.post {padding: 15px}
.postHeader {text-align: center; margin-bottom: 12px}
.postHeader img {max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; border: 1px solid grey}
.postButtons {display: flex; flex-flow: row wrap; align-items: center; justify-content: center;}
.postButton {text-decoration: none; font-size: 120%; border: 1px solid black; border-radius: 2px; padding: 5px; background: #666666; color: white; margin-right: 5px; margin-left: 5px; margin-bottom: 2px; margin-top: 2px; min-width: 0;}
/* Post content formatting */
code, .codeblock {border: 1px solid darkgrey; background: lightgrey; padding: 2px 2px;}
.postContent {line-height: 1.5; padding: 8px}
.postContent img {max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; border: 1px solid grey}
/* Home page */
.starred {border: 1px solid grey}
.starred legend {font-size: 120%}
.mostViewed {border: 1px solid grey}
.mostViewed legend {font-size: 120%}
.mostRecent {border: 1px solid grey}
.mostRecent legend {font-size: 120%}
/* All posts page */
.allPosts {border: 1px solid grey}
.allPosts legend {font-size: 120%}
/* Edit post page */
.editPostForm {text-align: center}
.editPostForm label {min-width: 12%; display: inline-block; text-align: right; vertical-align: top; margin-top: 12px}
.editPostForm input, textarea {box-sizing: border-box; width: 200px; outline: none; margin: 10px; font-family: inherit}
.editPostForm textarea {resize: vertical; height: 120px}
#buttonEditPost {width: 108px; background: #666666; color: white; border: 1px solid black; font-size: 105%; padding: 8px}
/* Phone/Tablet */
@media only screen and (max-width: 768px) {
body {max-width: 100%}
.header {border-left: 0; border-right: 0}
.navbar {border-left: 0; border-right: 0}
.content {border-left: 0; border-right: 0}
.footer {border-left: 0; border-right: 0; border-bottom: 0}
}
