<!-- core/install.php -->
  <h1>Installer</h1>
  <form method='post' class='form installForm'>
   <input type='hidden' name='csrf_token' value='{{ token }}'>
   <div></div><h2>SQL Details</h2>
   <label for='sqlserver'>SQL Server: </label>
   <input type='text' placeholder='localhost' name='SQLServer' id='sqlserver' value='{{{ sqlserver }}}' required>
   <label for='sqldatabase'>SQL Database: </label>
   <input type='text' placeholder='AtomicBlog' name='SQLDatabase' id='sqldatabase' value='{{{ sqldb }}}' required>
   <label for='sqlusername'>SQL Username: </label>
   <input type='text' name='SQLUsername' id='sqlusername' value='{{{ sqluser }}}' required>
   <label for='sqlpassword'>SQL Password: </label>
   <input type='text' name='SQLPassword' id='sqlpassword' value='{{{ sqlpass }}}' required>
   <div></div><h2>Blog Configuration</h2>
   <label for='title'>Blog Title: </label>
   <input type='text' name='title' id='title' maxlength='32' value='{{{ title }}}' required>
   <label for='description'>Blog Description: </label>
   <textarea name='description' id='description' maxlength='128' required>{{{ description }}}</textarea>
   <div></div><h2>Administrator Account Details</h2>
   <label for='name'>Name: </label>
   <input type='text' name='name' autocomplete='name' maxlength='64' id='name' value='{{{ name }}}' required>
   <label for='username'>Username: </label>
   <input type='text' name='username' autocomplete='username' maxlength='32' id='username' value='{{{ username }}}' required>
   <label for='email'>Email Address: </label>
   <input type='email' name='email' id='email' maxlength='64' value='{{{ email }}}' required>
   <label for='password'>Password: </label>
   <input type='password' name='password' id='password' value='{{{ password }}}' required>
   <label for='repeatpassword'>Repeat password: </label>
   <input type='password' name='repeatpassword' id='repeatpassword' value='{{{ repeatpassword }}}' required>
   <div></div><h2>Settings</h2>
   <label for='overwrite'>Overwrite old database: </label>
   <input type='checkbox' name='overwrite' id='overwrite'{{ overwrite }}>        
   <br>
   <input type='submit' value='Install' class='button'>
  </form>
