<!-- pages/login.php -->
  <div class='form'>
   <h1>[[ global.login ]]</h1>
   <form method='post'>
    <input type='hidden' name='csrf_token' value='{{ token }}'>
    <label for='username'>[[ global.username: ]]</label>
    <input type='text' name='username' id='username' autocomplete='username' maxlength='32' required value='{{ username }}'>
    <br>
    <label for='password'>[[ global.password: ]]</label>
    <input type='password' name='password' id='password' autocomplete='current-password' required value='{{ password }}'>
    <br>
    <label for='stayloggedin'>[[ login.stayloggedin ]]</label>
    <input type='checkbox' name='stayloggedin' id='stayloggedin' checked>
    <br>
    <input type='submit' value='[[ global.login ]]' class='button'>
   </form>
  </div>
