  <p>
   <a href='{{ back }}' class='button'>Back to post</a>
  </p>
  <div class='manageUploads'>
   <h1>Manage Uploads</h1>
   <h2>Icon</h2>
   {{ icons }}
   <h3>Upload a new icon</h3>
   <form method='post' enctype='multipart/form-data'>
    <input type='file' name='icon'>
    <input type='submit' value='Upload icon'>
   </form>
   <hr>
   <h2>Attachments</h2>
   <script src='{{ script }}'></script>
   {{ attachments }}
   <h3>Upload a new attachment</h3>
   <form method='post' enctype='multipart/form-data'>
    <input type='file' name='attachment'>
    <input type='submit' value='Upload attachment'>
   </form>
  </div>
