<!-- pages/profile.php -->
  <div class='profile' style='background: #{{{ color }}};'>
   <h1>[[ user.profile,name ]]</h1>
   {{ avatar }}
   <div class='profileContent'>
    <h2>[[ user.profileinfo ]]</h2>
    <table>
     <tr>
      <td>[[ user.joined: ]]</td>
      <td>{{ jointime }}</td>
     </tr>
     <tr>
      <td>[[ user.lastactive: ]]</td>
      <td>{{ lastactive }}</td>
     </tr>
     <tr>
      <td>[[ user.role: ]]</td>
      <td>{{{ role }}}</td>
     </tr>
     <tr>
      <td>[[ global.email: ]]</td>
      <td>{{{ email }}}</td>
     </tr>
     <tr>
      <td>[[ global.posts: ]]</td>
      <td>{{{ posts }}}</td>
     </tr>
     <tr>
      <td>[[ global.comments: ]]</td>
      <td>{{{ comments }}}</td>
     </tr>
    </table>
    <h2>[[ global.bio ]]</h2>
    <div class='bio'>
     {{ bio }}
    </div>
   </div>
  </div>
