<!-- pages/profile.php -->
  <div class='profile' style='background: #{{{ color }}};'>
   <h1>{{{ name }}}'s Profile</h1>
   <div class='profileContent'>
    <h2>Profile Information</h2>
    <table>
     <tr>
      <td>Last Active:</td>
      <td>{{ lastactive }}</td>
     </tr>
     <tr>
      <td>Role:</td>
      <td>{{{ role }}}</td>
     </tr>
     <tr>
      <td>Email:</td>
      <td>{{{ email }}}</td>
     </tr>
     <tr>
      <td>Comments:</td>
      <td>{{{ comments }}}</td>
     </tr>
     <tr>
      <td>Posts:</td>
      <td>{{{ posts }}}</td>
     </tr>
    </table>
    <h2>Bio</h2>
    <div class='bio'>
     {{ bio }}
    </div>
   </div>
  </div>
